In [1]:
import csv
import criarDBTemp as db

In [2]:
db.criarDBTree_Vazio()

In [3]:
db.mostrar()

tbNO:
Empty DataFrame
Columns: [typeNO, codPointer, drwGX, drwGY, drwLev, drwHei, drwPos, drwRel, booActive]
Index: []
tbAD:
Empty DataFrame
Columns: [typeAD, codFrom, codTo]
Index: []
tbTAG:
Empty DataFrame
Columns: [strNAME, strTYPE, booLEAF, codNO]
Index: []

In [4]:
rootCod = db.tbNO_append('root',0,-1,-1,-1,-1,-1,'',True)
with open('ex.csv') as csvfile:
    listPai = []
    spamreader = csv.reader(csvfile, delimiter=',', quotechar='|')
    c = 0
    for row in spamreader:
        c = c + 1
        print('Iteração ' + str(c))
        print(row)
        numPai = int(row[0])
        strN = row[1]
        strT = row[2]
        codNo = db.newTAG(strN,strT)

        if numPai == 1:
            #Meu pai é o root
            db.tbAD_append('root-' + strT,rootCod,codNo)
        else:
            db.tbAD_append('tag-tag',listPai[numPai-2],codNo)
        
        
        if len(listPai) < numPai:
            listPai.append(codNo)
        else:
            listPai[numPai-1] = codNo

        print(listPai)
            

db.mostrar()

Iteração 1
['1', 'Zouk', 'mod']
[2]
Iteração 2
['2', 'Brasiliense', 'sub']
[2, 3]
Iteração 3
['3', 'Condutor', 'cond']
[2, 3, 4]
Iteração 4
['4', 'B', 'tag']
[2, 3, 4, 5]
Iteração 5
['5', 'HOR', 'tag']
[2, 3, 4, 5, 6]
Iteração 6
['6', 'ESQ', 'leaf']
[2, 3, 4, 5, 6, 7]
Iteração 7
['6', 'DIR', 'leaf']
[2, 3, 4, 5, 8, 7]
Iteração 8
['5', 'VER', 'tag']
[2, 3, 4, 9, 8, 7]
Iteração 9
['6', 'ESQ', 'leaf']
[2, 3, 4, 9, 10, 7]
Iteração 10
['6', 'DIR', 'leaf']
[2, 3, 4, 9, 11, 7]
Iteração 11
['5', 'LUG', 'tag']
[2, 3, 4, 12, 11, 7]
Iteração 12
['6', 'ESQ', 'leaf']
[2, 3, 4, 12, 13, 7]
Iteração 13
['6', 'DIR', 'leaf']
[2, 3, 4, 12, 14, 7]
Iteração 14
['3', 'Conduzido', 'cond']
[2, 15, 4, 12, 14, 7]
Iteração 15
['4', 'B', 'tag']
[2, 15, 16, 12, 14, 7]
Iteração 16
['5', 'HOR', 'tag']
[2, 15, 16, 17, 14, 7]
Iteração 17
['6', 'ESQ', 'leaf']
[2, 15, 16, 17, 18, 7]
Iteração 18
['6', 'DIR', 'leaf']
[2, 15, 16, 17, 19, 7]
Iteração 19
['5', 'VER', 'tag']
[2, 15, 16, 20, 19, 7]
Iteração 20
['6', 'ESQ', 'leaf']
[2, 15, 16, 20, 21, 7]
Iteração 21
['6', 'DIR', 'leaf']
[2, 15, 16, 20, 22, 7]
Iteração 22
['5', 'LUG', 'tag']
[2, 15, 16, 23, 22, 7]
Iteração 23
['6', 'ESQ', 'leaf']
[2, 15, 16, 23, 24, 7]
Iteração 24
['6', 'DIR', 'leaf']
[2, 15, 16, 23, 25, 7]
tbNO:
    typeNO  codPointer  drwGX  drwGY  drwLev  drwHei  drwPos drwRel  booActive
cod
1     root           0     -1     -1      -1      -1      -1                 1
2      tag           1     -1     -1      -1      -1      -1                 1
3      tag           2     -1     -1      -1      -1      -1                 1
4      tag           3     -1     -1      -1      -1      -1                 1
5      tag           4     -1     -1      -1      -1      -1                 1
6      tag           5     -1     -1      -1      -1      -1                 1
7      tag           6     -1     -1      -1      -1      -1                 1
8      tag           7     -1     -1      -1      -1      -1                 1
9      tag           8     -1     -1      -1      -1      -1                 1
10     tag           9     -1     -1      -1      -1      -1                 1
11     tag          10     -1     -1      -1      -1      -1                 1
12     tag          11     -1     -1      -1      -1      -1                 1
13     tag          12     -1     -1      -1      -1      -1                 1
14     tag          13     -1     -1      -1      -1      -1                 1
15     tag          14     -1     -1      -1      -1      -1                 1
16     tag          15     -1     -1      -1      -1      -1                 1
17     tag          16     -1     -1      -1      -1      -1                 1
18     tag          17     -1     -1      -1      -1      -1                 1
19     tag          18     -1     -1      -1      -1      -1                 1
20     tag          19     -1     -1      -1      -1      -1                 1
21     tag          20     -1     -1      -1      -1      -1                 1
22     tag          21     -1     -1      -1      -1      -1                 1
23     tag          22     -1     -1      -1      -1      -1                 1
24     tag          23     -1     -1      -1      -1      -1                 1
25     tag          24     -1     -1      -1      -1      -1                 1
tbAD:
       typeAD  codFrom  codTo
cod
1    root-mod        1      2
2     tag-tag        2      3
3     tag-tag        3      4
4     tag-tag        4      5
5     tag-tag        5      6
6     tag-tag        6      7
7     tag-tag        6      8
8     tag-tag        5      9
9     tag-tag        8     10
10    tag-tag       10     11
11    tag-tag        9     12
12    tag-tag       11     13
13    tag-tag       13     14
14    tag-tag        3     15
15    tag-tag        4     16
16    tag-tag       12     17
17    tag-tag       14     18
18    tag-tag       18     19
19    tag-tag       17     20
20    tag-tag       19     21
21    tag-tag       21     22
22    tag-tag       20     23
23    tag-tag       22     24
24    tag-tag       24     25
tbTAG:
         strNAME strTYPE  booLEAF  codNO
cod
1           Zouk     mod        0      2
2    Brasiliense     sub        0      3
3       Condutor    cond        0      4
4              B     tag        0      5
5            HOR     tag        0      6
6            ESQ    leaf        0      7
7            DIR    leaf        0      8
8            VER     tag        0      9
9            ESQ    leaf        0     10
10           DIR    leaf        0     11
11           LUG     tag        0     12
12           ESQ    leaf        0     13
13           DIR    leaf        0     14
14     Conduzido    cond        0     15
15             B     tag        0     16
16           HOR     tag        0     17
17           ESQ    leaf        0     18
18           DIR    leaf        0     19
19           VER     tag        0     20
20           ESQ    leaf        0     21
21           DIR    leaf        0     22
22           LUG     tag        0     23
23           ESQ    leaf        0     24
24           DIR    leaf        0     25

In [21]:
SQL = '''
SELECT
tbAD.cod as cod,
tbTAG.strNAME as nameFROM,
tbAD.codTo
FROM
tbAD,
tbTAG
Where
tbAD.codFrom = tbTAG.codNo
'''

db.retPandasDfFromSQL(SQL)

        nameFROM  codTo
cod
2           Zouk      3
3    Brasiliense      4
4       Condutor      5
5              B      6
6            HOR      7
7            HOR      8
8              B      9
9            DIR     10
10           ESQ     11
11           VER     12
12           DIR     13
13           ESQ     14
14   Brasiliense     15
15      Condutor     16
16           LUG     17
17           DIR     18
18           ESQ     19
19           HOR     20
20           DIR     21
21           ESQ     22
22           VER     23
23           DIR     24
24           ESQ     25