In [1]:
import criarDBTree as db

In [2]:
db.teste()

tbNO:
    typeNO  codPointer  drwGX  drwGY  drwLev  drwHei  drwPos drwRel  booActive
cod
1     root           0     -1     -1      -1      -1      -1                 1
2      cls           1     -1     -1      -1      -1      -1                 1
3      cls           2     -1     -1      -1      -1      -1                 1
4      cls           3     -1     -1      -1      -1      -1                 1
5      obj           1     -1     -1      -1      -1      -1                 1
6      obj           2     -1     -1      -1      -1      -1                 1
7      stp           1     -1     -1      -1      -1      -1                 1
8      stp           2     -1     -1      -1      -1      -1                 1
9      stp           3     -1     -1      -1      -1      -1                 1
10     stp           4     -1     -1      -1      -1      -1                 1
11     stp           5     -1     -1      -1      -1      -1                 1
12     stp           6     -1     -1      -1      -1      -1                 1
13     stp           7     -1     -1      -1      -1      -1                 1
14     stp           8     -1     -1      -1      -1      -1                 1
tbAD:
       typeAD  codFrom  codTo
cod
1    root-cls        1      2
2    root-cls        1      3
3    root-cls        1      4
4     cls-obj        2      5
5     cls-obj        2      6
6     cls-stp        2      7
7     cls-stp        2      8
8     cls-stp        2      9
9     cls-stp        2     10
10    cls-stp        2     11
11    cls-stp        2     12
12    cls-stp        2     13
13    cls-stp        2     14
tbCLS:
    strNAME  codNO
cod
1        PE      2
2    PEGADA      3
3    POSPAR      4
tbOBJ:
    strNAME  codNO
cod
1        pD      5
2        pE      6
tbSTP:
    strTAG                                            strDESC  codNO
cod
1      ABR  Abrir normal: Afastar um pé do outro na direçã...      7
2      ACF  Cruzar a frente: Abertura, mas o pé que se mov...      8
3      ACT  Cruzar a traz: Abertura, mas o pé que se movim...      9
4      JUN  Juntar normal: Deslocar o pé para a posição no...     10
5      JCF  Juntar cruzado à frente: Ao juntar o pé passa ...     11
6      JCT  Juntar cruzado à traz: Ao juntar o pé passa po...     12
7      FRT                             Frente: Passo à frente     13
8      TRS                                 Tras: Passo a tras     14

In [4]:
import criarDBTree as db
db.findTbFieldByValue('tbCLS','strNAME','"PE"','codNO')

SELECT strNAME, codNO FROM tbCLS WHERE strNAME = "PE"

2

In [5]:
db.findTbFieldByValue('tbCLS','strNAME','"PE"','cod')

SELECT strNAME, cod FROM tbCLS WHERE strNAME = "PE"

1